{% extends "home.html" %}

{% block head %}
    <title>Registeration Page</title>
{% endblock  %}

{% block body %}
    <h1>Welcome to registeration page</h1>
    <form method="POST">
        <input type="text" name="username" placeholder="Username" required><br>
        <br>
        <input type="email" name="email" placeholder="Email" required><br>
        <br>
        <input type="password" name="password" placeholder="Enter  Password" required><br>
        <br>
        <input type="password" name="confirmpassword" placeholder="Re-enter the password" required><br>
        <br>
        <input type="submit" value="singup">
    </form>
{% endblock  %}